:root{
    --color: #EDAE49;
    --color-title-icon: #EA2B1F;
}

.page_1{
    background-color: #EDAE49;
}

h1{
    display: flex;
    justify-content: center;
    color: var(--color-title-icon);
    font-family: "Roboto Mono";
}

a{
    text-align: center;
    display: flex;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin-left: 15rem;
}

.intro{
    width: 350px;
    height: 315px;
    margin: 1rem;
}

h2{
    color: #61210F;
    display: flex;
    justify-content: center;
    font-family: "Roboto Mono";
}

.service__titre{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 11rem;
    margin-top: -12.5rem;
}

.borne__titre{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 11rem;
    margin-top: -13.5rem;
}

.attache__titre{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 11rem;
    margin-top: -9rem;
}

img{
    width: 45%;
    height: 45%;
}

h3{
    margin: 0;
}

.service__description{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.borne__description{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.attache__description{
    margin-top: 4rem;
}

/* Page 2 */

.container{
    margin: 0;
}

.search{
    position: absolute;
    z-index: 900;
    bottom: 50rem;
    left: 2rem;
}

input{
    border-radius: 20px;
    font-size: 20px;
    width: 20rem;
    height: 2rem;
}

button{
    position: relative;
    border: none;
    background: white;
    right: 2.5rem;
}

.carte{
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.carte__plan{
    margin: 0;
    width: 100%;
    height: 100%;
}

.station{
    top: 14rem;
    position: absolute;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    width: 100vw;
}

.station__lieu{
    margin: 1rem 0rem 0rem 1rem;
}

h4{
    margin: 0;
    font-family: "Roboto Mono";
}

.station__lieu i{
    border: 2px solid black;
    border-radius: 50px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin-right: 2rem;
}

.velo__restant{
    color: green;
}

.velo__restant__une{
    color: orange;
}

.velo__restant__deux{
    color: red;
}

.velo__restant__trois{
    color: green;
}

.velo__restant__quatre{
    color: orange;
}

.velo__restant__cinq{
    color: red;
}

.station__icone{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 2.7rem;
    left: 5rem;
    margin-right: 5rem;
}

footer{
    background-color: var(--color);
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 2rem;
}

footer i{
    margin-top: 0.5rem;
    font-size: 20px;
}

.fa-times-circle{
    color: var(--color-title-icon);
}